* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Sans-serif;
    font-size: 20px;
}

.header {
    border: 1px solid black;
    height: 20px;
    background: black;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #fe017e;
}

.navbar {
    margin-top: 20px;
    display: flex;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.btn {
    background-color: #fe017e;
    border-radius: 5px;
    border-color: #fe017e;
    width: 150px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
}

.btn:hover {
    background-color: #d4006a;
}

.bt {
    color: white;
}

.bt:hover {
    color: white;
}

#geo {
    position: absolute;
    top: 2px;
    left: 10px;
}

#usa {
    position: absolute;
    top: 2px;
    left: 50px;
}

::selection {
    background: #ff4fa7;
}

.sec {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: auto;
    width: 1200px;
}

.buttons {
    display: flex;
    margin: 10px;
    width: 200px;
    justify-content: space-between;
}

.non {
    display: none;
}

#p {
    padding-left: 10px;
}








.container {
    max-width: 450px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
}

.df {
    display: flex;
    flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container_details {
    margin-bottom: 40px;
    text-align: center;
}


.formlayer {
    margin-bottom: 30px;
}

.form_label {
    font-size: 15px;
    color: #777;
    margin-bottom: 3px;
}

.forminput {
    width: 100%;
    padding: 9px 9px;
    background: rgb(190, 190, 190);
    border-radius: 5px;
    font-size: 18px;
    color: #fe017e;
    font-weight: 600;
}

.form_submit {
    background-color: #fe017e;
    color: white;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    padding: 25px 15px;
    font-size: 20px;
    cursor: pointer;
}


.form_submit:hover {
    background: #d4006a;
}



.footer {
    width: 100%;
    height: 120px;
    background: #222222;
}


.error {
    display: none;
    text-align: end;
    color: red;
    font-size: 15px;
}

.error2 {
    display: none;
    text-align: end;
    color: red;
    font-size: 15px;
}

.pw {
    text-align: end;
    color: red;
    font-size: 19px;
}

.std {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #bdbcbc;
    width: 30%;
    border-radius: 10px 10px;
    background-color: #bdbcbc;
    padding: 10px;
}

.container2 {
    width: 60%;
    max-width: 100%;
    margin: auto;
}

.hd {
    color: black !important;
     
}
.box2 ul li a {
    color: #fe017e;
}

.box2 ul {
    padding-left: 20px;
}

.d-flex {
    display: flex;
    font-weight: bold;
    line-height: 35px;
}

.box1 {
    width: 50%;
    max-width: 100%;
    font-size: 15px;
    color: #828282;
}

.box2 {
    width: 50%;
    max-width: 100%;
    font-size: 15px;
    padding-top: 110px;
    color: #828282;
    padding-left: 30px;
}








.container3{
    width: 80%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.container3 .image{
    display: none;
}

.container3 .image img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 15px;
    overflow: hidden;
}

.container3 .button2{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container3 .button2 .a2{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.tslaidi {
    position: absolute;
    top: 90%;
    left: 42%;
    color: white;
    font-size: 5vh;
    -webkit-text-stroke: 1px #fe017e;
}


  


@media (max-width: 1200px) {

    .sec {
        display: flex;
        flex-direction: column;
        max-width: auto;
        max-width: 150px;
    }

    #p {
        padding-left: 28px;
    }

    .buttons {
        margin-left: -42px;
    }


}